{include file=comm/head.html}


<style>
	.mmposition a:last-child{
	  font-weight: bold;
	  color: #3786FF;
	}
	</style>
<div class="container pages">
	<div class="text-left position mb-3 d-none d-md-block mmposition">当前位置：
		<a href="/">首页</a>/<a href="/member/mydownlaod">我的下载</a> / <a href="/member/orders">消费记录</a> 
	</div>
	<style>
	body{
		background-color: #F0F2F5;
		color: #6F6F6F;
	}
	.newtable{
		background-color: #ffffff;
		width: 100%;
		/* border: 1px solid #DEDEDE; */
	}
	.newtable tr th,.newtable tr td{
		text-align: center;
		height: 57px;
	}
  .newtable tr:nth-child(2n){
		background-color: #F5F5F5;
	}
	</style>
      <div class="row" style="background-color: #ffffff; padding: 10px 10px;border: 1px solid #DBDBDB;">
				<table class="newtable">
					<tr>
						<th>名称</th>
						<th>金额</th>
            <th>付费方式</th>
						<th>付费时间</th>
					</tr>
					{pboot:list num=10}
						<tr>
							<td>[list:id]</td>
							<td>[list:amount]</td>
              <td>[list:payment_type]</td>
							<td>[list:payment_time]</td>
						</tr>
						{/pboot:list}
				</table>
			</div>
</div>

{include file=comm/foot.html}
