{include file=comm/head.html}

<div class="container pages">
	{include file=comm/position.html}
	<style>
	body{
		background-color: #F0F2F5;
		color: #6F6F6F;
	}
	.infoDiv{
		background-color: #ffffff;
		/* border-top: 5px solid #3786FF; */
		border-radius: 5px;
	}
	.bgtxtdiv{
		width: 100%;
		background-color: #F5F9FF;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 20px 30px;
		padding-bottom: 20px;
	}
	.bgtxtdivleft{
		flex: 1;
	}
	.infoflexrow{
		width: 100%;
		padding: 10px 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: 4px;
		border: 1px solid #DEDEDE;
	}
	.infoflexrow h2{
		font-size: 20px;
		/* font-family: PingFangSC-Regular, PingFang SC; */
		font-weight: 400;
		color: #1F1F1F;
		line-height: 28px;
	}
	.infoflexrow .text-secondary{
		width: 50%;
	}
	.bgtxtdivright{
		margin-top: 20px;
		width: 297px;
		height: 166px;
		background-color: #ffffff;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	.bgtxtdivright p{
		height: 48px;
		line-height: 48px;
		font-size: 16px;
	}
	.bgtxtdivright span{
		flex: 1;
		display: flex;
		align-items: center;
		font-size: 22px;
		font-weight: bold;
		color: #3786FF;
	}
	.bgtxtdivright button{
		width: 218px;
		height: 36px;
		background: #3786FF;
		border-radius: 4px;
		color: #ffffff;
		border: none;
	}
	.newtable{
		background-color: #ffffff;
		width: 100%;
		border: 1px solid #DEDEDE;
	}
	.newtable tr th,.newtable tr td{
		text-align: center;
		height: 57px;
	}
	.txtbiaoti{
		font-size: 20px;
		font-weight: 400;
		color: #1F1F1F;
	}
.titleh2{
	font-size: 14px;
	color: #545454;
}
.paytype{
	width: 194px;
	height: 74px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	border: 1px solid #DEDEDE;
	margin-right: 16px;
}
	</style>
	<div class="container pages">
    <div class="row infoDiv" style="padding: 26px 38px;">
				<div class="infoflexrow">
					<h3 class="txtbiaoti">标题名称：xxxxxx-admin</h3>
					<span style="color: #777777;">支付金额：<span style="color: #3786FF;">2000.00</span>元</span>
				</div>
		</div>
    <div class="row infoDiv" style="margin-top: 18px; padding: 26px 30px;">
			<div class="infoflexrow" style="border: none; flex-direction: column;align-items: flex-start;">
				<h3 class="titleh2">选择以下支付方式付款</h3>
				<div style="border-top: 1px solid #DEDEDE; width: 100%; margin-top: 22px; display: flex; padding: 30px 10px;">
					<div class="paytype">
						<img src="{pboot:sitetplpath}/images/icon12.png" />
						<span>支付宝</span>
					</div>
					<div class="paytype">
						<img src="{pboot:sitetplpath}/images/icon9.png" />
						<span>微信</span>
					</div>
				</div>
			</div>
		</div>
	</div>
<script src="{pboot:sitetplpath}/swiper-4.3.5/js/swiper.min.js"></script>
<script>

</script>

{include file=comm/foot.html}
