{include file=comm/head.html}



<div class="container pages">
	{include file=comm/position.html}
	<style>
	body{
		background-color: #F0F2F5;
		color: #6F6F6F;
	}
	.newtable{
		background-color: #ffffff;
		width: 100%;
		/* border: 1px solid #DEDEDE; */
	}
	.newtable tr th,.newtable tr td{
		text-align: center;
		height: 57px;
	}
  .newtable tr:nth-child(2n){
		background-color: #F5F5F5;
	}
  .mgroup{
    width: 90%;
  }
  .form-group{
    display: flex;
    margin-top: 20px;
    /* margin-top: 10px; */
    margin-bottom: 20px;
  }
  .formgrouprow label{
    width: 82px;
    height: 20px;
    text-align: right;
    margin-right: 20px;
  }
  .formgrouprow{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0px 20px;
    
  }
  .form-control{
    background: #FBFBFB;
    border: 1px solid #E6E6E6;
    width: 320px;
  }
  .btn{
    width: 73px;
    height: 33px;
    background: #3786FF;
    border-radius: 4px;
    color: #FFFFFF;
  }
  .overhi{
    width: 73px;
    height: 33px;
    position: absolute;
    left: 102px;
    opacity: 0;
  }
	</style>
  <div class="row" style="background-color: #ffffff; padding: 10px 10px;border: 1px solid #DBDBDB;border-bottom: none;">
    <h5 class="newborder_bottom border-info pb-2 mb-2" ><span style="width: 3px; height: 20px;vertical-align: -4px; background-color: #3786FF; display: inline-block;"></span> 上传</h5>
    <form class="my-4 mgroup" onsubmit="return login(this);">
      <div class="form-group">
        <div class="formgrouprow">
          <label ><span style="color: #D41818;">*</span>名称:</label>
          <input type="text" name="username" required id="username" class="form-control" >
        </div>
        <div class="formgrouprow">
          <label ><span style="color: #D41818;">*</span>土地性质:</label>
          <input type="text" name="username" required id="username" class="form-control" >
        </div>
      </div>
      <div class="form-group">
        <div class="formgrouprow">
          <label ><span style="color: #D41818;">*</span>商业占比:</label>
          <input type="text" name="username" required id="username" class="form-control" >
        </div>
        <div class="formgrouprow">
          <label ><span style="color: #D41818;">*</span>容积率:</label>
          <input type="text" name="username" required id="username" class="form-control" >
        </div>
      </div>
      <div class="form-group">
        <div class="formgrouprow">
          <label ><span style="color: #D41818;">*</span>消费金额:</label>
          <input type="text" name="username" required id="username" class="form-control" >
          <span style="color: #D41818;">(限额1000元)</span>
        </div>
      </div>
      <div class="form-group">
        <div class="formgrouprow" style="position: relative;">
          <label >附件:</label>
          <button type="button" class="btn">上传</button>
          <input type="file" class="overhi">
        </div>
      </div>
      <div class="form-group">
        <div class="formgrouprow" style="align-items: flex-start;">
          <label >备注:</label>
          <textarea class="form-control" style="width: 100%;height: 130px;"></textarea>
        </div>
      </div>
    </form>
  </div>
      <div class="row" style="background-color: #ffffff; padding: 10px 10px;border: 1px solid #DBDBDB;border-top: none;">
        <h5 class="newborder_bottom border-info pb-2 mb-2" ><span style="width: 3px; height: 20px;vertical-align: -4px;  background-color: #3786FF; display: inline-block;"></span> 附件列表</h5>
        <div style="border-bottom: 1px solid #F0F0F0; width: 100%;"></div>
				<table class="newtable" style="border: 1px solid #F0F0F0; margin-top: 20px;">
					<tr>
						<th>名称</th>
						<th>金额</th>
            <th>付费方式</th>
						<th>付费时间</th>
					</tr>
						<tr>
							<td>1</td>
							<td>1</td>
              <td>1</td>
							<td style="color: #3786FF;">
                <img src="{pboot:sitetplpath}/images/icon4.png" />
                删除
              </td>
						</tr>
            <tr>
							<td>1</td>
							<td>1</td>
              <td>1</td>
							<td style="color: #3786FF;">
                <img src="{pboot:sitetplpath}/images/icon4.png" />
                删除
              </td>
						</tr>
            <tr>
							<td>1</td>
							<td>1</td>
              <td>1</td>
							<td style="color: #3786FF;">
                <img src="{pboot:sitetplpath}/images/icon4.png" />
                删除
              </td>
						</tr>
				</table>
			</div>
      
</div>

    

<script src="{pboot:sitetplpath}/swiper-4.3.5/js/swiper.min.js"></script>
<script>
  function login(obj){
  var url='{pboot:login}';
  var username=$(obj).find("#username").val();
  var password=$(obj).find("#password").val();
  var checkcode=$(obj).find("#checkcode").val();
  
  $.ajax({
    type: 'POST',
    url: url,
    dataType: 'json',
    data: {
    	username: username,
    	password: password,
    	checkcode: checkcode
    },
    success: function (response, status) {
      if(response.code){
    	 alert("登录成功！");
		 location.href=response.tourl; 
      }else{
    	  $('#codeimg').click();
    	 alert(response.data);
      }
    },
    error:function(xhr,status,error){
      alert('返回数据异常！');
    }
  });
  return false;
}
</script>
{include file=comm/foot.html}
